# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Model files
*.pkl
*.joblib

# Large datasets
data/raw/
*.csv
*.zip
*.parquet

# Output files
batch_predictions.csv

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Docker
*.log